.chat-container {
    position: relative;
    height: 450px;
}

.writing-area {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.chat-friend-container{
    padding-top: 16px;
}

.chat-friend-box {
display: flex;
align-items: center;
justify-content: space-between;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-bottom: 8px;
padding-left: 24px;
color: white;
font-size: 18px;

width: 150px;
    img{
        height: 40px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.home-btn-box{
    position: absolute;
    bottom: 12px;
    right: 12px;

    mat-icon {
        padding: 4px;
        height: 36px;
        width: 36px;
        font-size: 36px;
        color: white;
        border-radius: 100%;
        background-color: #E91E63;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}