.main-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-card-box-header {
    width: 100%;
}

mat-card {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    padding: 0;
    line-height: 38px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: none !important;
    background: none;
}

.header-top {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.icon-header {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(0%, -50%);

    mat-icon {
        color: white;
        margin-left: 12px;

        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

mat-card-title {
    margin-bottom: 0px;
}

.head-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-image: radial-gradient(var(--secondary-color) 5%, var(--main-color) 60%);
}

.icon-header-home {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translate(0%, -50%);

    mat-icon {
        color: white;
        margin-left: 12px;

        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

.icon-header-home {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translate(0%, -50%);

    mat-icon {
        color: white;
        margin-left: 12px;

        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

.icon-header-menu {
    display: flex;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(0%, -50%);
}

.mg16 {
    margin-right: 16px;
}

.btn-burgundy {
    background-color: #870A30;
    color: white;
}

.btn-blue {
    background-color: #294571;
    color: white;
}

.btn-orange {
    background-color: #fe8801;
    color: white;
}

.btn-darkviolett {
    background-color: #42324f;
    color: white;
}