<mat-card>
    <div class="header-top">
        <div class="icon-header-home" [routerLink]="['']">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>
        <mat-card-title class="bg-c-1 color-white">Lern App</mat-card-title>
        <mat-icon class="icon-header" fontIcon="login" [routerLink]="['sign-in']" *ngIf="!authService.userData as user">
        </mat-icon>
        <div class="icon-header">
            <mat-icon mat-icon-button [routerLink]="['main-community']" fontIcon="groups_2" *ngIf="authService.userData as user"></mat-icon>
            <mat-icon mat-icon-button [matMenuTriggerFor]="menu" fontIcon="settings"
                *ngIf="authService.userData as user"></mat-icon>
        </div>
        <mat-menu #menu="matMenu" xPosition="before">
            <button [routerLink]="['dashboard']" mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>Dein Profil</span>
            </button>
            <button mat-menu-item (click)="authService.SignOut()">
                <mat-icon>logout</mat-icon>
                <span>Ausloggen</span>
            </button>
        </mat-menu>
    </div>
</mat-card>
<div class="head-imgs bg-c-1-light">
    <img src="./../../assets/img/counting-1.png" class="card-img-top" id="header-img">
    <img src="./../../assets/img/counting-2.png" class="card-img-top" id="header-img2">
    <img src="./../../assets/img/counting-3.png" class="card-img-top" id="header-img3">
</div>