mat-card {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    padding: 0;
    line-height: 38px;
}

.card-img-top {
    height: 130px;
    object-fit: contain;
}

.head-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-bottom: 8px solid #68478D;
}