<div class="main-header-container w450">
    <div class="rounded-corners mat-card-box-header bg-c-1">
        <mat-card>
            <div class="header-top bg-c-1">
                <div class="icon-header-home" [routerLink]="['']" (click)="backToStartScreen()">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                </div>
                <mat-card-title class="color-white">Lern App</mat-card-title>
                <div class="icon-header-menu">
                    <div class="color-white mg16">
                        <mat-icon mat-icon-button [matMenuTriggerFor]="color" fontIcon="format_color_fill">
                        </mat-icon>
                    </div>
                    <mat-menu class="menu-color" #color="matMenu" xPosition="before">
                        <button class="btn-burgundy" (click)="themeBurgundy()" mat-menu-item>Burgund</button>
                        <button class="btn-blue" (click)="themeBlue()" mat-menu-item>Blau</button>
                        <button class="btn-orange" (click)="themeOrange()" mat-menu-item>Orange</button>
                        <button class="btn-darkviolett" (click)="themeDarkViolett()" mat-menu-item>Violett</button>
                    </mat-menu>
                    <div class="color-white">
                        <mat-icon mat-icon-button
                            [matMenuTriggerFor]="menu" fontIcon="settings" *ngIf="authService.userData as user">
                        </mat-icon>
                    </div>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item>
                            <mat-icon>person</mat-icon>
                            <span routerLink="/personal">Dein Profil</span>
                        </button>
                        <button mat-menu-item (click)="authService.SignOut()">
                            <mat-icon>logout</mat-icon>
                            <span>Ausloggen</span>
                        </button>
                        <button mat-menu-item>
                            <div class="header-startscreen-menu-btn" routerLink="/imprint">
                                <div>§</div>
                                <span>Impressum</span>
                            </div>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="head-imgs bg-c-1-light w450" *ngIf="!generalService.inExercise">
        <img src="./assets/img/counting-1.png" class="card-img-top" id="header-img">
        <img src="./assets/img/counting-2.png" class="card-img-top" id="header-img2">
        <img src="./assets/img/counting-3.png" class="card-img-top" id="header-img3">
    </div>
</div>