.main-header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-card-box-header{
    width: 100%;
}

mat-card {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    padding: 0;
    line-height: 38px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: none !important;
    background: none;
}

.header-top {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.icon-header {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(0%, -50%);

    mat-icon {
        color: white;
        margin-left: 12px;

        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

mat-card-title {
    margin-bottom: 0px;
}

.head-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-image: radial-gradient(#EDE3FF 5%, #E91E63 60%);
}

.icon-header-home{
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translate(0%, -50%);

    mat-icon {
        color: white;
        margin-left: 12px;

        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}
.icon-header-home{
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translate(0%, -50%);

    mat-icon {
        color: white;
        margin-left: 12px;

        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

.icon-header-menu{
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(0%, -50%);
}

@keyframes backgroundColorPalette {
    0% {
      color: rgba($color: #3946a8, $alpha: 1.0);;
    }
    10% {
        color: rgba($color: #3946a8, $alpha: 0.8);
    }
    20% {
        color: rgba($color: #3946a8, $alpha: 0.6);
    }
    30% {
        color: rgba($color: #3946a8, $alpha: 0.4);
    }
    40% {
        color: rgba($color: #3946a8, $alpha: 0.2);
    }
    50% {
        color: rgba($color: #3946a8, $alpha: 0.0);
    }
    60% {
        color: rgba($color: #3946a8, $alpha: 0.2);
    }
    70% {
        color: rgba($color: #3946a8, $alpha: 0.4);
    }
    80% {
        color: rgba($color: #3946a8, $alpha: 0.6);
    }
    90% {
        color: rgba($color: #3946a8, $alpha: 0.8);
    }
    100% {
        color: rgba($color: #3946a8, $alpha: 1.0);
    }
  }

.flash-icon{
    animation-name: backgroundColorPalette;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}