<mat-card>
    <div class="header-top">
        <div class="icon-header-home" [routerLink]="['']">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>
        <mat-card-title class="bg-c-1 color-white">Lern App</mat-card-title>
    </div>
</mat-card>
<div class="head-imgs bg-c-1-light">
    <img src="./../../assets/img/counting-1.png" class="card-img-top" id="header-img">
    <img src="./../../assets/img/counting-2.png" class="card-img-top" id="header-img2">
    <img src="./../../assets/img/counting-3.png" class="card-img-top" id="header-img3">
</div>