.main-community-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-output {
   max-height: 300px;
    padding-left: 80px;
    padding-right: 80px;
}

.search-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container{
    height: 350px;
}

.search-result-box{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    
    img{
        height: 25px;
        object-fit: cover;
        margin-right: 8px;
    }
}

mat-form-field{
    @media (max-width: 380px) {
        width: 190px !important;
    }
}