.main-community-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-output {
   max-height: 300px;
    padding-left: 80px;
    padding-right: 80px;
}

.search-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container{
    height: 350px;
}