<div class="w450 bg-c-1-light main-container">
    <div class="padding-l-r-24">
        <div class="main-community-header">
            <mat-icon fontIcon="people_alt" (click)="navigateToFriends()">
            </mat-icon>
            <mat-form-field class="example-full-width">
                <span matPrefix> </span>
                <input type="text" (keyup)="loadsearch()" [(ngModel)]="searchValue" matInput placeholder="Suche"
                    name="search">
                <button matSuffix mat-button>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <mat-icon fontIcon="mail" (click)="navigateToChat()">
            </mat-icon>
        </div>
        <div class="search-output">
            <div class="search-result" *ngFor="let user of users">
                <div *ngIf="validate(user.displayName) && checkIfUserIsItself(user.uid) && !userAlreadyAddedAsFriend(user.uid)">
                    {{user.displayName}}
                </div>
                <mat-icon *ngIf="validate(user.displayName) && checkIfUserIsItself(user.uid) && !userAlreadyAddedAsFriend(user.uid)" fontIcon="person_add" (click)="addUserAsFriend(user.uid)"></mat-icon>
            </div>
        </div>
    </div>

    <app-friends></app-friends>

</div>