.headline-user {
    text-align: center;
}

.user-detail-container {
    margin-left: 24px;
    margin-right: 24px;
}

.user-detail-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;

    p {
        margin: 0;
    }

    mat-icon {
        &:hover {
            cursor: pointer;
            color: #E91E63;
        }
    }

}

.home-btn-box {
    display: flex;
    justify-content: end;
    margin-right: 24px;
    margin-bottom: 24px;

    mat-icon {
        padding: 4px;
        height: 36px;
        width: 36px;
        font-size: 36px;
        color: white;
        border-radius: 100%;
        background-color: #E91E63;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.w100percent {
    width: 100%;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
}