.trophy-img {
    height: 50px;
    object-fit: cover;
}

.trophy-nbr{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
}

.trophy-sub-box{
    position: relative;
    margin-right: 24px;
    margin-bottom: 24px;
}

.trophy-container{
    min-height: 350px;
    position: relative;
}

.trophy-box{
    display: flex;
    padding: 24px;
    flex-wrap: wrap;
}

.home-btn-box{
    position: absolute;
    bottom: 12px;
    right: 12px;

    mat-icon {
        padding: 4px;
        height: 36px;
        width: 36px;
        font-size: 36px;
        color: white;
        border-radius: 100%;
        background-color: #E91E63;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}