<div class="w450 bg-c-1-light trophy-container max-height-with-header">
    <div class="headline-triumph-coins">Münzen</div>
    <div *ngIf="showTrophys" class="trophy-box">        
        <div class="trophy-sub-box">
            <img (click)="explainGoldCoin()" class="trophy-img" src="./assets/img/coins/gold-coin.png">
            <div class="trophy-nbr bg-c-1 color-white">{{userInfos.goldCoins}}</div>
        </div>
        <div class="trophy-sub-box">
            <img (click)="explainSilverCoin()" class="trophy-img" src="./assets/img/coins/silver-coin.png">
            <div class="trophy-nbr bg-c-1 color-white">{{userInfos.silverCoins}}</div>
        </div>
        <div class="trophy-sub-box">
            <img (click)="explainBronzeCoin()" class="trophy-img" src="./assets/img/coins/bronze-coin.png">
            <div class="trophy-nbr bg-c-1 color-white">{{userInfos.bronzeCoins}}</div>
        </div>
    </div>
    <div class="home-btn-box" [routerLink]="['']">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
    </div>
</div>