<div class="auth-container-total">
    <app-login *ngIf="authService.showSignIn"></app-login>
    <app-sign-up *ngIf="authService.showSignUp"></app-sign-up>
    <app-forget-password *ngIf="authService.showForgotPassword"></app-forget-password>
    <app-verify-mail *ngIf="authService.showVerifyMail"></app-verify-mail>
</div>
<div class="login-icon">
    <img src="./../../assets/img/help.svg" alt="">
</div>
<div class="login-icon-1">
    <img class="login-icon-nbr" src="./../../assets/img/counting-1.png" alt="">
</div>
<div class="login-icon-2">
    <img class="login-icon-nbr" src="./../../assets/img/counting-2.png" alt="">
</div>
<div class="login-icon-3">
    <img class="login-icon-nbr" src="./../../assets/img/counting-3.png" alt="">
</div>