<div class="bg-c-1-light startscreen-container w450">
    <h2>Runde beendet!</h2>
    <h4>Du hast {{mathServ.numberOfRightAnswers}} von {{mathServ.numberOfMathProblems}} Fragen richtig beantwortet.</h4>
    <div class="button-box">
        <button class="bg-c-1 color-white" (click)="navigateToArithmetic()">Erneut rechnen</button>
        <button [disabled]="mathServ.wrongAnswers.length == 0" class="bg-c-1 color-white"
            (click)="navigateToWrongAnswers()" [ngClass]="{'btn-disabled' : mathServ.wrongAnswers.length == 0}">Falsche Antworten nochmal</button>
        <button class="bg-c-1 color-white" [routerLink]="['']">Start</button>
    </div>
</div>