.btn-disabled {
    color: lightgray !important;
    opacity: 0.5 !important;
    box-shadow: none;
}

.trophy{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;

    height: 80px;
    width: 80px;
}

.headline-endscreen{
    width: 100%;
    font-size: 36px;
    line-height: 36px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

.sub-headline-endscreen{
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 12px;
    text-align: center;

    span{
        font-weight: 800;
    }
}