<div class="bg-c-1-light w450">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Sign Up</h3>
            <form ngNativeValidate #myForm>
                <div class="auth-container">
                    <mat-form-field appearance="fill">
                        <mat-label class="contact-label">Enter your E-Mail</mat-label>
                        <input class="contact-input-element" name="mail" #userEmail matInput [formControl]="email"
                            type="email" id="mail" placeholder="Your@email.com" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label class="contact-label">Enter your Password</mat-label>
                        <input [formControl]="password" type="password" name="password" #userPwd matInput placeholder="Password" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </form>
            <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="Sign Up"
                    (click)="authService.SignUp(userEmail.value, userPwd.value)"/>
            </div>
            <div class="formGroup">
                <span class="or"><span class="orInner">Or</span></span>
            </div>
            <!-- Continue with Google -->
            <div class="formGroup">
                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                    <i class="fab fa-google-plus-g"></i>
                    Continue with Google
                </button>
            </div>
        </div>
        <div class="redirectToLogin">
            <span>Already have an account?
                <span class="redirect" routerLink="/sign-in">Log In</span></span>
        </div>
    </div>
</div>