.headline-user-profile{
    padding-top: 16px;
    text-align: center;
}

.user-detail-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;

    p {
        margin: 0;
    }

    mat-icon {
        &:hover {
            cursor: pointer;
            color: var(--main-color);
        }
    }
}

.personal-container{
    height: calc(100vh - 188px);
}

.personal-sub-container{
    padding-left: 48px;
    padding-right: 48px;
}