<div class="bg-c-1-light w450 max-height-with-header rounded-corners-bottom">
    <div class="headline-startscreen">Lass uns lernen</div>

    <div class="swiper-container-startscreen">
        <swiper [navigation]="true" [pagination]="true" class="mySwiper">
            <ng-template swiperSlide *ngFor="let button of buttons">
                <div class="button-box">
                    <button (click)="saveCurrentExercise(button.linkOne)" class="bg-c-1 color-white btn-start-exercise"
                        [routerLink]="[button.linkOne]">{{button.nameOne}} <mat-icon>{{button.icon}}
                        </mat-icon></button>
                </div>
            </ng-template>
        </swiper>
    </div>

    <div class="button-box">
        <button class="bg-c-1 color-white btn-start-exercise" [routerLink]="['settings']">Einstellungen<mat-icon>settings_suggest
        </mat-icon></button>
        <button class="bg-c-1 color-white btn-start-exercise" [routerLink]="['triumph']">Erfolge<mat-icon>emoji_events
        </mat-icon></button>
    </div>
</div>

