<div class="w450 bg-c-1-light max-height-with-header rounded-corners-bottom imprint-container">
    <div class="sub-container-imprint">
        <div class="privacy-container">
            <h1>Privacy Notice</h1>
            <p>This app was built as a training project at Developer Akademie. There is no security layer implemented.
                It is not supposed to be used with real life data.</p>
            <p><strong>Do not enter personal data.</strong> </p>
        </div>


        <div class="imprint-container">
            <h1>Impressum</h1>
            <p>Angaben gemäß § 5 TMG</p>
            <p>Michael Strauß <br>
                Föhrenstraße 6<br>
                DE 90766 Fürth <br>
            </p>
            <p><strong>Kontakt:</strong> <br>
                Telefon: <a href="tel: +4915786771555"></a>+49 (0)157/ 86771555<br>
                E-Mail: <a href='mailto:strauss.michael@gmx.net'>strauss.michael@gmx.net</a>
            </p>
            <p><strong>Datenschutz</strong></p><br>
            <p>
                Die Nutzung dieser Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf
                diesen
                Seiten personenbezogene Daten (beispielsweise Name oder eMail-Adressen) erhoben werden,
                erfolgt
                dies,
                soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung
                nicht an
                Dritte weitergegeben. <br>
                Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
                Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist
                nicht
                möglich. <br>
                Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur
                Übersendung
                von
                nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich
                widersprochen.
                Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten
                Zusendung
                von
                Werbeinformationen, etwa durch Spam-Mails, vor.<br>
            </p>
            <p>
                Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a
                    href="https://www.kanzlei-hasselbach.de/standorte/frankfurt/" rel="nofollow">Kanzlei Hasselbach,
                    Frankfurt</a>
            </p>
        </div>
    </div>
</div>