.card-title {
    font-size: 32px;
}

.arit-progress-bar {
    height: 8px;
    padding-top: 16px;
}

.question-box {
    display: flex;
    position: relative;
}

.nbr-size {
    font-size: 46px;
    line-height: 46px;
    font-weight: 600;
}

.operator {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.answer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 24px;
    margin-left: 24px;

    border: 1px solid #E91E63;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 #E91E63;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    span {
        font-size: 20px;
    }
}

.help {
    img {
        height: 80px;
    }
}

.image-amount {
    display: flex;

    img {
        height: 55px;
        margin-left: 5px;
        margin-top: -5px;

        &:hover {
            cursor: pointer;
        }

        @media (max-height: 730px) {
            height: 50px;
        }
    }
}

.image-amount-sub-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
}

.image-amount-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
}

.bg-success {
    background-color: rgb(31, 166, 31);
}

.bg-failed {
    background-color: rgb(198, 40, 0);
}

.btn-pressed {
    box-shadow: inset 0px 0px 6px 0px #1a1a1a !important;
}

.nbr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.math-answer-btn {
    font-size: 46px;
    line-height: 46px;
    color: white;
}