<div class="w450 bg-c-1-light">
    <mat-progress-bar class="arit-progress-bar" mode="determinate" value="40"></mat-progress-bar>


    <div class="question-text">
        <h5 class="card-title" id="question-text">
            Wieviel ist
        </h5>
        <div class="help"><img src="img/help.svg"></div>
    </div>
    <div class="question-box">
        <div class="nbr-size">{{numberOne}}</div>

        <div id="arithmetic-operator" class="nbr-size">+</div>

        <div class="nbr-size">{{numberTwo}}</div>
    </div>
    <div class="pic-amount" id="amount-image-box">
        <div id="picture-of-amount-1" class="image-amount-1"></div>
        <div id="picture-of-amount-2" class="image-amount-2"></div>
    </div>



    <div class="answer-container">
        <div class="transparency-box" id="transparent-box" style="display:none"></div>
        <div class="quiz-answer-card bg-c-1">
            {{result1}}
        </div>

        <div class="quiz-answer-card bg-c-1">
            {{result2}}
        </div>

        <div class="quiz-answer-card bg-c-1">
            {{result3}}
        </div>

        <div class="quiz-answer-card bg-c-1">
            {{result4}}
        </div>

    </div>



    <div class="question-footer">
        <span><b id="right-solved-math-problems">1</b> von <b id="total-number-of-math-problems">5</b> Aufgabe(n)
            korrekt
            gelöst</span>
        <button class="bg-c-1" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon style="color: white;">double_arrow</mat-icon>
        </button>
    </div>