<div class="w450 bg-c-1-light">
    <mat-progress-bar class="arit-progress-bar" mode="determinate" value="{{progressBarValue}}"></mat-progress-bar>


    <div class="question-text">
        <h3 class="card-title" id="question-text">
            Wieviel ist
        </h3>
        <div class="help"><img src="./../../assets/img/help.svg"></div>
    </div>
    <div class="question-box">
        <div class="nbr-size">{{numberOne}}</div>

        <div id="arithmetic-operator" class="nbr-size">{{operator}}</div>

        <div class="nbr-size">{{numberTwo}}</div>
    </div>
    <div class="image-amount-box">
        <div class="image-amount-sub-box border-right">
            <div class="image-amount" *ngFor="let i of Arr(numberOne).fill(1);">
                <img src="./../../assets/img/nbr-1.svg">
            </div>
        </div>
        <div class="image-amount-sub-box border-left">
            <div class="image-amount" *ngFor="let i of Arr(numberTwo).fill(1);">
                <img src="./../../assets/img/nbr-1.svg">
            </div>
        </div>
    </div>



    <div class="answer-container">
        <div class="transparency-box" id="transparent-box" style="display:none"></div>
        <button [disabled]="answerIsGiven" class="quiz-answer-card bg-c-1"
            (click)="checkAnswer(result1); toggleClass($event)" #answerButtonOne
            [ngClass]="{'bg-success' : checkResult(result1) && answerIsGiven, 'bg-failed' : !checkResult(result1) && answerIsGiven}">
            {{result1}}
        </button>

        <button [disabled]="answerIsGiven" class="quiz-answer-card bg-c-1"
            (click)="checkAnswer(result2); toggleClass($event)" #answerButtonTwo
            [ngClass]="{'bg-success' : checkResult(result2) && answerIsGiven, 'bg-failed' : !checkResult(result2) && answerIsGiven}">
            {{result2}}
        </button>

        <button [disabled]="answerIsGiven" class="quiz-answer-card bg-c-1"
            (click)="checkAnswer(result3); toggleClass($event)" #answerButtonThree
            [ngClass]="{'bg-success' : checkResult(result3) && answerIsGiven, 'bg-failed' : !checkResult(result3) && answerIsGiven}">
            {{result3}}
        </button>

        <button [disabled]="answerIsGiven" class="quiz-answer-card bg-c-1"
            (click)="checkAnswer(result4); toggleClass($event)"#answerButtonFour
            [ngClass]="{'bg-success' : checkResult(result4) && answerIsGiven, 'bg-failed' : !checkResult(result4) && answerIsGiven}">
            {{result4}}
        </button>

    </div>



    <div class="question-footer">
        <span><b>{{numberOfRightAnswers}}</b> von <b id="total-number-of-math-problems">{{numberOfMathProblems}}</b> Aufgabe(n)
            korrekt
            gelöst</span>
        <button [disabled]="!answerIsGiven" [ngClass]="{'opac-07' : !answerIsGiven}" class="bg-c-1" mat-icon-button (click)="nextMathProblem()">
            <mat-icon style="color: white;">double_arrow</mat-icon>
        </button>
    </div>