<div class="w450 bg-c-1-light">
    <mat-progress-bar class="arit-progress-bar" mode="determinate" value="{{progressBarValue}}"></mat-progress-bar>


    <div class="question-text">
        <h3 class="card-title" id="question-text">
            Welches Wort beginnt mit
        </h3>
        <div class="help"><img src="./assets/img/help.svg" (click)="helpPhoneme()"></div>
    </div>
    <div class="question-box" *ngIf="showExercise">
        <div class="nbr-size">{{syllableSmall}}</div>
    </div>




    <div class="answer-container" *ngIf="showExercise">
        <div class="answer-box">
            <mat-icon class="curs-point" mat-icon-button fontIcon="volume_up" (click)="speakServ.speak(allExercises[currentQuestion].callOne, speakRate/100)"></mat-icon>
            <button [disabled]="answerIsGiven" class="quiz-answer-card bg-c-1 color-main"
                (click)="checkAnswer(answerSyllableOne); readServ.toggleClass($event)" #answerButtonOne
                [ngClass]="{'bg-success' : checkResult(answerSyllableOne) && answerIsGiven, 'bg-failed' : !checkResult(answerSyllableOne) && answerIsGiven}">
                {{answerSyllableOne}}
            </button>
        </div>
        <div class="answer-box">
            <mat-icon class="curs-point" mat-icon-button fontIcon="volume_up" (click)="speakServ.speak(allExercises[currentQuestion].callTwo, speakRate/100)"></mat-icon>
            <button [disabled]="answerIsGiven" class="quiz-answer-card bg-c-1 color-main"
                (click)="checkAnswer(answerSyllableTwo); readServ.toggleClass($event)" #answerButtonTwo
                [ngClass]="{'bg-success' : checkResult(answerSyllableTwo) && answerIsGiven, 'bg-failed' : !checkResult(answerSyllableTwo) && answerIsGiven}">
                {{answerSyllableTwo}}
            </button>
        </div>
        <div class="answer-box">
            <mat-icon class="curs-point" mat-icon-button fontIcon="volume_up" (click)="speakServ.speak(allExercises[currentQuestion].callThree, speakRate/100)"></mat-icon>
            <button [disabled]="answerIsGiven" class="quiz-answer-card bg-c-1 color-main"
                (click)="checkAnswer(answerSyllableThree); readServ.toggleClass($event)" #answerButtonThree
                [ngClass]="{'bg-success' : checkResult(answerSyllableThree) && answerIsGiven, 'bg-failed' : !checkResult(answerSyllableThree) && answerIsGiven}">
                {{answerSyllableThree}}
            </button>
        </div>
        <div class="answer-box">
            <mat-icon class="curs-point" mat-icon-button fontIcon="volume_up" (click)="speakServ.speak(allExercises[currentQuestion].callFour, speakRate/100)"></mat-icon>
            <button [disabled]="answerIsGiven" class="quiz-answer-card bg-c-1 color-main"
                (click)="checkAnswer(answerSyllableFour); readServ.toggleClass($event)" #answerButtonFour
                [ngClass]="{'bg-success' : checkResult(answerSyllableFour) && answerIsGiven, 'bg-failed' : !checkResult(answerSyllableFour) && answerIsGiven}">
                {{answerSyllableFour}}
            </button>
        </div>
    </div>
   
    <div class="question-footer">
        <span><b>{{numberOfCorrectAnswers}}</b> von <b id="total-number-of-math-problems">{{currentQuestion +1}}</b>
            Aufgabe(n)
            korrekt
            gelöst</span>
        <button [disabled]="!nextIsAvailable" [ngClass]="{'opac-0' : !answerIsGiven}" class="bg-c-1" mat-icon-button
            (click)="nextExercise()">
            <mat-icon style="color: white;">double_arrow</mat-icon>
        </button>
    </div>