<div class="bg-c-1-light startscreen-container w450">
    <h2>Runde beendet!</h2>
    <h4>Du hast {{writingService.numberOfRightAnswersWriting}} von {{writingService.numberOfTasksWriting}} Versuchen richtig beantwortet.</h4>
    <div class="button-box">
        <button [disabled]="generalService.currentExercise == ''" [ngClass]="{'btn-disabled': generalService.currentExercise == ''}" class="bg-c-1 color-white" (click)="navigateToExercise()">Wiederholen</button>
        <button class="bg-c-1 color-white" [routerLink]="['']">Start</button>
    </div>
    <img *ngIf="trophyService.trophyEarned" class="trophy" src="./../../assets/img/coins/{{trophyService.currentCoin}}-coin.png" alt="">
</div>

