<div class="bg-c-1-light startscreen-container w450 max-height-with-header">
    <div class="headline-endscreen">Runde beendet!</div>
    <div class="sub-headline-endscreen">Du hast <br><span>{{writingService.numberOfRightAnswersWriting}} von {{writingService.numberOfTasksWriting}}</span> <br>Fragen richtig beantwortet.</div>
    <div class="button-box">
        <button [disabled]="generalService.currentExercise == ''" [ngClass]="{'btn-disabled': generalService.currentExercise == ''}" class="bg-c-1 color-white" (click)="navigateToExercise()">Wiederholen</button>
        <button class="bg-c-1 color-white" [routerLink]="['']" (click)="backToStartScreen()">Start</button>
    </div>
    <img *ngIf="trophyService.trophyEarned" class="trophy" src="./../../assets/img/coins/{{trophyService.currentCoin}}-coin.png" alt="">
</div>

