<div class="w450 bg-c-1-light friends-area">
    <div class="padding-l-r-24" *ngIf="show">
        <div *ngFor="let friend of myFriends" class="friends-box">
            <div class="friends-sub-box">
                <img src="./../../../assets/img/userIcons/{{friend.photoURL}}" alt="">
                <div>
                    {{friend.displayName}}
                </div>
            </div>
            <div>
                <mat-icon fontIcon="email" (click)="addFriendToChatList(friend.uid)"></mat-icon>
                <mat-icon fontIcon="person_remove" (click)="deleteFriendFromList(friend.uid)"></mat-icon>
            </div>
        </div>
    </div>
    <div class="back-btn-box" (click)="navigateToMain()">
        <mat-icon fontIcon="arrow_back"></mat-icon>
    </div>
</div>