.friends-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    overflow: auto;
    padding-left: 80px;
    padding-right: 80px;
}

.friends-sub-box {
    display: flex;
    align-items: center;

    img {
        height: 40px;
        object-fit: cover;
        border-radius: 100%;
        margin-right: 8px;
    }
}

.friends-area{
    height: 350px;
    padding-top: 8px;
    position: relative;
}

.back-btn-box{
    position: absolute;
    bottom: 12px;
    right: 12px;

    mat-icon {
        padding: 4px;
        height: 36px;
        width: 36px;
        font-size: 36px;
        color: white;
        border-radius: 100%;
        background-color: #E91E63;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}