body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #C3E3A8;
}

.bg-c-1 {
    background-color: #E91E63;
}

.bg-c-1-light {
    background-color: #EDE3FF;
}

.w450 {
    width: 450px;
}

.color-white{
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        min-width: 200px;
        border-radius: 12px;
        box-shadow: 0 2px 2px 0 #1a1a1a;
        

        &:hover {
            opacity: 0.9;
            cursor: pointer;
            box-shadow: none;
        }
    }
}