body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #C3E3A8;
}

.bg-c-1 {
    background-color: #68478D;
}

.bg-c-1-light {
    background-color: #EDE3FF;
}

.w450 {
    width: 450px;
}

.color-white{
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
