<div class="settings-box bg-c-1-light w450">

    <div class="swiper-container">
        <swiper [enabled]="allowToSlide" [allowTouchMove]="allowToSlide" [allowSlideNext]="allowToSlide" [allowSlidePrev]="allowToSlide" [navigation]="true" [pagination]="true" class="mySwiper">
            <ng-template swiperSlide *ngFor="let area of areas">
                <div *ngIf="area == 2">
                    <div class="settings-btn-box">
                        <h3>
                            Rechnen mit Zahlen
                        </h3>
                        <mat-button-toggle-group
                            value="{{(setting.areaOfNumbersForArithmetic) ? (setting.areaOfNumbersForArithmetic) : 'middle'}}">
                            <mat-button-toggle (click)="getAreaOfNumbersForArithmetic('small')"
                                class="color-white bg-c-1 border-round-left" value="small">2 - 7</mat-button-toggle>
                            <mat-button-toggle (click)="getAreaOfNumbersForArithmetic('middle')"
                                class="color-white bg-c-1" value="middle">5 - 15</mat-button-toggle>
                            <mat-button-toggle (click)="getAreaOfNumbersForArithmetic('high')"
                                class="color-white bg-c-1 border-round-right" value="high">10 - 20</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="settings-btn-box">
                        <h3>
                            Anzahl Aufgaben richtig zu lösen
                        </h3>
                        <mat-button-toggle-group
                            value="{{(setting.numberOfAnswersToSolveCorrect) ? (setting.numberOfAnswersToSolveCorrect) : '10'}}">
                            <mat-button-toggle (click)="getNumberOfAnswersToSolveCorrect('5')"
                                class="color-white bg-c-1 border-round-left" value="5">5</mat-button-toggle>
                            <mat-button-toggle (click)="getNumberOfAnswersToSolveCorrect('10')"
                                class="color-white bg-c-1" value="10">10</mat-button-toggle>
                            <mat-button-toggle (click)="getNumberOfAnswersToSolveCorrect('20')"
                                class="color-white bg-c-1 border-round-right" value="20">20</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="settings-btn-box">
                        <h3>
                            Mengen bildlich darstellen
                        </h3>
                        <mat-button-toggle-group
                            value="{{(setting.showPicturesForAmount) ? (setting.showPicturesForAmount) : 'yes'}}">
                            <mat-button-toggle [disabled]="disableBtnAmount" (click)="getShowPicturesForAmount('yes')"
                                class="color-white bg-c-1 border-round-left" value="yes">Ja</mat-button-toggle>
                            <mat-button-toggle [disabled]="disableBtnAmount"
                                (click)="getShowPicturesForAmount('partly')" class="color-white bg-c-1" value="partly">
                                Teilweise</mat-button-toggle>
                            <mat-button-toggle (click)="getShowPicturesForAmount('no')"
                                class="color-white bg-c-1 border-round-right" value="no">Nein</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="settings-btn-box">
                        <h3>
                            Rechenarten
                        </h3>
                        <mat-button-toggle-group value="{{(setting.mathOperator) ? (setting.mathOperator) : 'plus'}}">
                            <mat-button-toggle (click)="getOperator('plus')"
                                class="color-white bg-c-1 border-round-left" value="plus">+</mat-button-toggle>
                            <mat-button-toggle (click)="getOperator('minus')" class="color-white bg-c-1" value="minus">-
                            </mat-button-toggle>
                            <mat-button-toggle (click)="getOperator('both')"
                                class="color-white bg-c-1 border-round-right" value="both">+/-</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div *ngIf="area == 1">
                    <div class="settings-btn-box">
                        <h3>Lautstärke</h3>
                        <mat-slider [(ngModel)]="rangeValueVolume" thumbLabel (mouseover)="allowToSlide = false; getRange()" (mouseleave)="allowToSlide = true" tickInterval="1" min="0" max="100">
                        </mat-slider>
                    </div>
                </div>


            </ng-template>
        </swiper>
    </div>
    <div class="home-btn-box" [routerLink]="['']">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"
            (click)="actualizeSettingObj()"></mat-icon>
    </div>
</div>