<div class="settings-box bg-c-1-light w450">
    <div class="settings-btn-box">
        <h3>
            Rechnen mit Zahlen von
        </h3>
        <mat-button-toggle-group>
            <mat-button-toggle class="color-white bg-c-1 border-round-left">2 - 7</mat-button-toggle>
            <mat-button-toggle class="color-white bg-c-1">5 - 15</mat-button-toggle>
            <mat-button-toggle class="color-white bg-c-1 border-round-right">10 - 20</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="settings-btn-box">
        <h3>
            Anzahl Aufgaben richtig zu lösen
        </h3>
        <mat-button-toggle-group>
            <mat-button-toggle class="color-white bg-c-1 border-round-left">5</mat-button-toggle>
            <mat-button-toggle class="color-white bg-c-1">10</mat-button-toggle>
            <mat-button-toggle class="color-white bg-c-1 border-round-right">20</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="settings-btn-box">
        <h3>
            Mengen bildlich darstellen
        </h3>
        <mat-button-toggle-group>
            <mat-button-toggle class="color-white bg-c-1 border-round-left">Ja</mat-button-toggle>
            <mat-button-toggle class="color-white bg-c-1">Teilweise</mat-button-toggle>
            <mat-button-toggle class="color-white bg-c-1 border-round-right">Nein</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="settings-btn-box">
        <h3>
            Rechenarten
        </h3>
        <mat-button-toggle-group>
            <mat-button-toggle class="color-white bg-c-1 border-round-left">+</mat-button-toggle>
            <mat-button-toggle class="color-white bg-c-1">-</mat-button-toggle>
            <mat-button-toggle class="color-white bg-c-1 border-round-right">+/-</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="home-btn-box" [routerLink]="['']">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </div>
</div>