<div class="settings-box">
    <div class="settings-btn-box">
        <h3>
            Rechnen mit Zahlen von
        </h3>
        <mat-button-toggle-group>
            <mat-button-toggle>2 - 7</mat-button-toggle>
            <mat-button-toggle>5 - 15</mat-button-toggle>
            <mat-button-toggle>10 - 20</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="settings-btn-box">
        <h3>
            Anzahl Aufgaben richtig zu lösen
        </h3>
        <mat-button-toggle-group>
            <mat-button-toggle>5</mat-button-toggle>
            <mat-button-toggle>10</mat-button-toggle>
            <mat-button-toggle>20</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="settings-btn-box">
        <h3>
            Mengen bildlich darstellen
        </h3>
        <mat-button-toggle-group>
            <mat-button-toggle>Ja</mat-button-toggle>
            <mat-button-toggle>Teilweise</mat-button-toggle>
            <mat-button-toggle>Nein</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="settings-btn-box">
        <h3>
            Rechenarten
        </h3>
        <mat-button-toggle-group>
            <mat-button-toggle>+</mat-button-toggle>
            <mat-button-toggle>-</mat-button-toggle>
            <mat-button-toggle>+/-</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>